services:
  - type: web
    name: splitwise-api
    runtime: go
    buildCommand: cd backend && go build -o main .
    startCommand: cd backend && ./main
    plan: free
    envVars:
      - key: MONGO_URI
        sync: false
      - key: MONGO_DB
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 8080
